button {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	padding: 12px 16px;
	border: none;
	border-radius: 4px;
	background-color: #965353;
	color: #FFF;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	outline: none;
	transition: box-shadow 0.3s ease;
}

button:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

button:active {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}